<!DOCTYPE HTML>
<!-- xmlnsは、Thymeleafのおまじないです -->
<HTML xmlns:th="http://www.thymeleaf.org">

<HEAD>
<TITLE>Snobow.com - カートページ</TITLE>
<META charset="UTF-8" />
<link rel="stylesheet" type="text/css" href="http://yui.yahooapis.com/3.18.1/build/cssreset/cssreset-min.css">
<link rel="stylesheet" href="./css/main.css" type="text/css">
<link rel="stylesheet" href="./css/cart.css" type="text/css">
</HEAD>

<BODY>
<div th:replace="./service/header"></div>

<div class="title">カート</div>
<br><br>
<!-- <div th:if="${cartList} != null">
    <div th:each="list : ${cartList}">
        <a th:href="@{'./ProductDetail(productId=${productId})'}" th:utext="${list.productImage}"></a>
    </div>
</div>
-->

<div th:if="${cartList.size()} != 0">
    <div id="cartList" th:each="list : ${cartList}">
        <a class="img" th:href="@{./ProductDetail(productId=${list.productId})}" th:utext="${list.productImage}"></a>
        <div id="product">
	        <p class="kana" th:text="${list.productNameKana}"></p>
	        <p class="name" th:text="${list.productName}"></p>
	        <p class="price" th:text="${list.productPrice}+円"></p>
	    </div>
    </div>

	<div class="center">
		<form th:action="@{'./ToAddressSelect'}" method="get">
		    <input type="submit" value="レジへ進む" />
		</form>
		<form th:action="@{'./Cart'}" method="post">
		    <input type="hidden" value="delete" name="cartType" />
		    <input type="submit" value="カートを空にする" />
		</form>
	</div>
</div>
<div th:if="${cartList.size()} == 0">
	<h2 class="center">カートは空です。</h2>
	<br />
	<div id="go_search">
	    <a href="./ProductList" class="square_btn">商品一覧へ</a>
	</div>
</div>

<div th:replace="./service/footer"></div>
</BODY>
</HTML>
