<!DOCTYPE html>
<!-- xmlnsは、Thymeleafのおまじないです -->
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8" />
<title>ざんね～ん、ERRORです～。</title>
</head>
<body>
<h1>深刻なエラー</h1>
<ul>
  <li th:text="ユーザID：+${userId}" />
  <li th:text="パスワード：+${password}" />
</ul>
　　<form th:action="@{'./'}" method="post">
    <input type="submit" value="TOPへ戻る" />
　　</form>
</body>
</html>