<header>

<div id="branding">
  <p>Snobow.com</p>
</div>

<nav>
  <ul th:if="${session['userId']} != null">
    <li><a href="./">トップ</a></li>
    <li><a href="./MyPage">マイページ</a></li>
    <li><a href="./Cart">カートを見る</a></li>
    <li><a href="./Inquiry">お問い合わせ</a></li>
    <li><a href="./Logout">ログアウト</a></li>
    <li><a href="./Withdrawal">退会</a></li>
  </ul>
  <ul th:if="${session['userId']} == null">
    <li><a href="./">トップ</a></li>
    <li><a href="./Login">ログイン</a></li>
    <li><a href="./Inquiry">お問い合わせ</a></li>
  </ul>
</nav>

</header>