<!DOCTYPE HTML>
<!-- xmlnsは、Thymeleafのおまじないです -->
<HTML xmlns:th="http://www.thymeleaf.org">

<HEAD>
<TITLE>Snobow.com - トップページ</TITLE>
<META charset="UTF-8" />
<link rel="stylesheet" type="text/css" href="http://yui.yahooapis.com/3.18.1/build/cssreset/cssreset-min.css" />
<link href="./css/main.css" rel="stylesheet" type="text/css" />
<link href="./css/index.css" rel="stylesheet" type="text/css" />
<script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
</HEAD>

<BODY>

<div th:replace="./service/header"></div>

<span th:text="${session['userId']}"></span><br>

<br />
<div id="new">☆★☆お知らせ☆★☆</div>
<table class="info" border="1">
  <tr>
    <th align="left" valign="top">
      2017/01/02 【お知らせ】新商品追加しました！<br />
      2017/01/01 【お知らせ】HP開設しました！
    </th>
  </tr>
</table>

<form name="search" action="./ProductList" method="POST">
<br />
<div id="go_search">
<!--     <a href="javascript:search.submit()" class="square_btn">商品一覧へ</a><br /> -->
    <a href="./ProductList" class="square_btn">商品一覧へ</a>
    <!-- <input type="button" name="search" value="商品を検索する" /> -->
</div>
</form>
<br />
<br />
<br />
</BODY>
</HTML>