<!DOCTYPE html>
<!-- xmlnsは、Thymeleafのおまじないです -->
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>Snobow.com - 支払い方法選択ページ</title>
<META charset="UTF-8" />
<link rel="stylesheet" type="text/css" href="http://yui.yahooapis.com/3.18.1/build/cssreset/cssreset-min.css">
<link rel="stylesheet" href="./css/main.css" type="text/css">
<link rel="stylesheet" href="./css/cart.css" type="text/css">
</head>
<body>

<div th:replace="./service/header"></div>

<div class="title">支払い方法の選択</div>

<br><br>

<form th:action="@{'./PayMethodSelect'}" method="post">
   	<table border="1" style="min-width:300px;max-width:1000px;margin-left:10%;">
   		<tr><td rowspan="2" width="50px" style="text-align:center">
       		<input type="radio" name="address" th:value="${list.id}" />
       	</td></tr>
       	<tr><td style="padding-left:5px">
        	<div id="address">
        		<p class="name">お届け先住所</p>
		        <p th:text="${list.firstName}"></p>
		        <p th:text="${list.prefecture}"></p>
		        <p th:text="${list.municipal}"></p>
		        <p th:text="${list.address}"></p>
		    </div>
	    </td></tr>
    </table>
    <br /><br />
    <div class="center">
		<input type="submit" value="購入内容確認へ" />
	</div>
</form>

<div th:replace="./service/footer"></div>

</body>
</html>