<!DOCTYPE HTML>
<!-- xmlnsは、Thymeleafのおまじないです -->
<HTML xmlns:th="http://www.thymeleaf.org">
	
<HEAD>
<TITLE>Snobow.com - 商品一覧ページ</TITLE>
<META charset="UTF-8" />
<link rel="stylesheet" type="text/css" href="http://yui.yahooapis.com/3.18.1/build/cssreset/cssreset-min.css">
<link href="./css/main.css" rel="stylesheet" type="text/css">
<link href="./css/productlist.css" rel="stylesheet" type="text/css">
</HEAD>

<BODY>

<div th:replace="./service/header"></div>
<!-- 
<table th:each="list : ${productInfoList}">
    <tr>
        <td>商品画像</td><th th:utext=${list.productImage} />
        <td></td>
    </tr>
    <tr>
        <td>商品ID</td><th th:text=${list.productId} />
    </tr>
    <tr>
        <td>商品名</td><th th:text=${list.productName} />
    </tr>
    <tr>
        <td>商品説明</td><th th:text=${list.productDescription} />
    </tr>
    <tr>
        <td>商品詳細</td><th th:text=${list.productDetail} />
    </tr>
</table>-->

<div id="title">商品一覧</div>
<br>
<div class="border">
	<div id="product">
		<div id="productList" th:each="list : ${productInfoList}">
		        <div id="productImage">
		            <a th:href="@{./ProductDetail(productId=${list.productId})}" th:utext=${list.productImage}></a>
		        </div>
		        <div id="productDescription">
		            <p class="kana" th:text=${list.productNameKana} />
		            <p class="name" th:text=${list.productName} />
		            <p class="description" th:text=${list.productDescription} />
		            <p class="price" th:text=${list.productPrice}+円 />
		        </div>
		</div>
	</div>
</div>
<br />
<br />
</BODY>
</HTML>