<!DOCTYPE html>
<!-- xmlnsは、Thymeleafのおまじないです -->
<html xmlns:th="http://www.thymeleaf.org">
<head>
<title>Snobow.com - 商品詳細ページ</title>
<meta charset="UTF-8">
<link rel="stylesheet" type="text/css" href="http://yui.yahooapis.com/3.18.1/build/cssreset/cssreset-min.css">
<link href="./css/main.css" rel="stylesheet" type="text/css">
<link href="./css/productdetail.css" rel="stylesheet" type="text/css">
</head>
<body>
<div th:replace="./service/header"></div>

<div class="title center">商品詳細</div>
<br>
<div class="productDetail center">
	<p class="productImage" th:utext=${productInfo.productImage}></p>
	<p th:text=${productInfo.productNameKana}></p>
	<p th:text=${productInfo.productName}></p>
	<p th:text=${productInfo.productDescription}></p>
	<p th:text=${productInfo.productDetail}></p>
	<p th:text=${productInfo.productPrice}+円></p>
</div>
<br>
<br>
<form th:action="@{'./Cart'}" method="post">
<div class="cart_button">
	<input type="hidden" name="productId" th:value=${productInfo.productId} />
	<input type="hidden" value="insert" name="cartType" />
    <input type="submit" value="カートに入れる" />
</div>
</form>
<br>
<form th:action="@{'./ProductList'}" method="get">
<div class="center">
    <input type="submit" value="商品一覧に戻る" />
</div>
</form>
<br>
<br>
</body>
</html>