@CHARSET "UTF-8";

.title {
    width: 900px;
    margin: 0 auto;
    padding-top: 20px;
    font-size: 24px;
    font-weight: bold;
}

.center {
	text-align: center;
}

#cartList {
    width: 800px;
    height: 100px;
    clear: both;
    margin: 0 auto;
    margin-bottom: 50px;
}

#cartList .img {
	float: left;
}

#cartList img {
    width: 100px;
    height: 100px;
}

#product {
	float: left;
	margin-left: 30px;
}

.kana {
    font-size: 8px;
}

.name {
    font-size: 16px;
    font-weight: bold;
}

.price {
    font-weight: bold;
}

form {
	clear: both;
}