@charset "utf-8";
/* CSS Document */

body{
font: 14px/1.6 "Hiragino Kaku Gothic Pro",Osaka,"メイリオ","ＭＳ Ｐゴシック","MS PGothic",Verdana,Arial,sans-serif;
margin:0;
color: #313131;
width: 100%;
min-width: 1000px;
}

img{
outline:none;
border-style:none;
}

a{
  color:blue;
  -webkit-transition: all 0.5s;
  -moz-transition: all 0.5s;
  transition: all 0.5s;
}
a:visited{
  color:blue;
  -webkit-transition: all 0.5s;
  -moz-transition: all 0.5s;
  transition: all 0.5s;
}
a:hover {
  color: #F5A862;
  -webkit-transition: all 0.5s;
  -moz-transition: all 0.5s;
  transition: all 0.5s;
}
#new{
  font-size: 20px;
  color: blue;
  text-align: center;
}
#go_search{
  text-align: center;
}

/*****HEADER*****/
header{
  display: block;
  width:100%;
  overflow: hidden;
}

header h1{
  font-size:120%;	/*フォントサイズの調整*/
  color:#313131;	/*文字色の変更*/
  padding-top: 10px;	/*文字上部に余白*/
  padding-bottom: 10px;	/*文字下部に余白*/
  padding-left: 20px;	/*文字左側に余白*/
  padding-right: 20px;	/*文字右側に余白*/
  margin-top: 20px;	/*ロゴ上部に余白*/
  margin-bottom: 20px;	/*ロゴ下部に余白*/
  border:1px solid #313131;	/*文字の周りに線を描く*/
  border-radius: 5px;	/*線の角に丸みを付ける*/
  letter-spacing: 3px;	/*文字と文字の間隔をあける*/
  font-weight:400;	/*文字の太さの変更*/
  float: left;	/*左側にfloat*/
}
header p{

}


/*****FOOTER*****/
footer{
  display: block;
  width:100%;
  height:80px;
  margin-top: 20px;
  background: #313131;
  overflow: hidden;
}


/*****BRANDING*****/
header #branding{
  width: 100%; /*横幅指定*/
  height: 250px; /*縦幅指定*/
  margin-left: 0%; /*左端から15%右側に動かす*/
  /*background-color: #313131; 背景色の指定*/
  background-image: url(../img/header.png);
  background-repeat: no-repeat;
  margin-bottom: 0px;
  overflow: hidden; /*おまじない*/
  background-size: cover;
  position:relative;
}

header #branding p{
  color: #fff; /*文字色の変更*/
  font-size: 150%; /*フォントサイズの調整*/
  font-weight: bold;
  font-family: Mv Boli;
  letter-spacing: 10px; /*文字と文字の間隔をあける*/
  padding-left: 3%; /*文字の左側に余白をあける*/
  position: absolute;
  bottom: 0;
}

/*****NAV*****/
header nav{
  width: 100%;	/*横幅の指定*/
  border-top: 1px solid orange;	/*上部の線の色を指定*/
  border-bottom: 1px solid orange;	/*下部の線の色を指定*/
  margin-bottom: 5px;	/**/
  overflow: hidden;	/*おまじない*/
}
header nav ul{
  width: 100%;	/*横幅の指定*/
  margin-left: 0%;	/*左端から20%右側に動かす*/
}
header nav li{
  /*width: calc(16% - 2px);	横幅の指定（線の分をマイナスする）*/
  /*width: 123px;*/
  width: calc(100% / 6 - 2px);
  border-left: 1px solid orange;	/*線を描く*/
  text-align: center;	/*文字を中央に*/
  float: left;	/*左から並べる*/
}
header nav li:last-child{
  /*border-right: 1px solid orange;	li要素の最後の物は右側に線を描く*/
}
header nav a{
  display: block;	/*1つのli全体にリンクを有効にする*/
  text-decoration: none;	/*ブラウザ標準のリンク装飾をオフに*/
  color:#313131;	/*文字色の変更*/
  font-size: 110%;	/*フォントサイズの指定*/
  letter-spacing: 5px;	/*文字と文字の間隔をあける*/
  font-weight: 400;	/*文字の太さを調整*/
  line-height: 45px;	/*行間の指定（ナビボタンの高さ指定）*/
}
header nav a:hover{
  background-color: orange;	/*背景色の指定*/
  color: #fff;	/*文字色の変更*/
  -webkit-transition: all 0.5s;
  -moz-transition: all 0.5s;
  transition: all 0.5s;	/*ホバー時の動きをなめらかにする*/
}




/*****ボタン*****/
.square_btn{
   position: relative;
   display: inline-block;
   font-weight: bold;
   padding: 0.25em 0;
   text-decoration: none;
   color: #67c5ff;
   font-size: 20px;
}

.square_btn:before{
   position: absolute;
   content: '';
   width: 100%;
   height: 4px;
   top:100%;
   left: 0;
   border-radius: 3px;
   background:#67c5ff;
   transition: .2s;
}

.square_btn:hover:before {
    top: -webkit-calc(100% - 3px);
    top: calc(100% - 3px);
}
