@CHARSET "UTF-8";

#title {
	width: 900px;
	margin: 0 auto;
	padding-top: 20px;
	font-size: 24px;
	font-weight: bold;
}

.border {
	width: 850px;
	margin: 0 auto;
	position: relative;
	padding: 0.5em 1.5em;
	border-top: solid 2px black;
	border-bottom: solid 2px black;
}

.border:before, .border:after {
	content: '';
	position: absolute;
	top: -10px;
	width: 2px;
	height: -weblkit-calc(100% + 20px);
	height: calc(100% + 20px);
	background-color: black;
}

.border:before {left: 10px;}
.border:after {right: 10px;}

#product {
	overflow: hidden;
	text-align: center;
	margin: 0 auto;
	width: 800px
}

#productList {
    width: calc(100%/4);
    float: left;
    margin: 5px 0 5px 0;
}

#productImage img {
	width: 190px;
	height: 190px;
}

.kana {
	font-size: 8px;
}

.name {
	font-size: 16px;
	font-weight: bold;
}

.description {
	font-size: 12px;
}

.price {
	font-weight: bold;
}

