
<!DOCTYPE html>

<!-- xmlnsは、Thymeleafのおまじないです -->
<html xmlns:th="http://www.thymeleaf.org">
<head>
<title>Hello Spring Boot</title>
<meta charset="UTF-8" />
</head>

<body>
<table>
    <tr>
        <td th:text="${description}"></td>
    </tr>
</table>
<div th:fragment="copy">
      &copy; 2011 The Good Thymes Virtual Grocery
    </div>
</body>
</html>
